<!DOCTYPE html>
<html lang="en" >
    <head>
        <title>Login Here</title>
        <script src="js/jquery-3.5.1.min.js"></script>
        <link rel="stylesheet" href="css/bootstrap.css">
        <script src="js/bootstrap.js"></script>
 
   
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <style>
        
          </style> 
         <link href="https://fonts.googleapis.com/css?family=Oswald" rel=“stylesheet”>
    </head>

    <body >
        <div class='container-fluid'>
            <h1 class='jumbotron'>Welcome Admin</h1><br>
            <a class="btn btn-primary" href="/admin/logoutA" role="button" id= "logOut">Log Out</a>
        </div><br>
        <div class="card">
            <div class="card-body text-danger font-weight-bold bg-warning">
             <h2> Merchant Requests</h2>
            </div>
          </div>
        <br><br>
        <table class="table table-dark" id="merchantRequests" >
            <tr><td>Serial Number</td>
                <td>Name</td>
                <td>Email</td>
                <td>Accept</td>
                <td>Reject</td></tr>
          </table>
          <script src="/js/merchantRequests.js"></script>
    </body>
 </html>