<!DOCTYPE html>
<html lang="en" >
    <head>
        <title>TheEasyShopping.com</title>
        <script src="js/jquery-3.5.1.min.js"></script>
        <link rel="stylesheet" href="css/bootstrap.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="js/bootstrap.js"></script>
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
       fkjfdhjkafhsdhfkhfkshf -->
        <script src='js/loadHeader.js'></script> 
   
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <style>
       html,#mainBody{height:100%;width: 100%;}
       #categories{height: 100%;width: 20%; float: left;}
       #products{height: 100%;width:auto;background-color: white;}
       .carousel-inner img {
        width: 100%;
        height: 100%;
         }
         
          </style> 
         <link href="https://fonts.googleapis.com/css?family=Oswald" rel=“stylesheet”>
    </head>

    <body id="mainBody">
        <div id="includedContent" ></div>
        <!-- Name OF Product -->
        <div class="row">
        <div class="card col-sm-6 col-lg-4 mx-auto " style="background-color: powderblue;">
            <div class="card-body">
                <h1 class="text-center text-success"><%=data[0].name%></h1>
            </div>
        </div></div>
        <!-- image Slider -->
        <div class="row" id="product-images">
            <div class="col-sm-8 mx-auto">
        <div id="demo" class="carousel slide" data-ride="carousel" data-interval="false">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <%for(let i=0;i<data[0].images.length;i++){%>
              <li data-target="#demo" data-slide-to="<%i%>" <%if(i==0){%>class= "active"<%}%>  ></li>
              <%}%>
            </ul>
            
            <!-- The slideshow -->
            
            <div class="carousel-inner">
                <%for(let i=0;i<data[0].images.length;i++){%>
              <div class="carousel-item<%if(i==0){%> active<%}%>">
                <img src="/pImg/<%=data[0].images[i].filename%>" alt="product-image" width="1100" height="500">
              </div>
              <%}%>
              <!-- <div class="carousel-item">
                <img src="https://images.unsplash.com/photo-1535332371349-a5d229f49cb5?ixlib=rb-1.2.1&w=1000&q=80" alt="Chicago" width="1100" height="500">
              </div>
              <div class="carousel-item">
                <img src="https://images.unsplash.com/photo-1503803548695-c2a7b4a5b875?ixlib=rb-1.2.1&w=1000&q=80" alt="New York" width="1100" height="500">
              </div> -->
            </div>
            
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          </div></div></div>
    </body>
 </html>