<!DOCTYPE html>
<html lang="en" >
    <head>
        <title>Merchant </title>
        <script src="/js/jquery-3.5.1.min.js"></script>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <script src="/js/bootstrap.js"></script>
 
   
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
         <script src='/js/loadMerchantMenu.js'></script> 
    </head>

    <body >
      <div id="includedContent"></div>
      <br><br><div class="row">
          <div class="col-sm-12 col-md-8 col-lg-4 mx-auto">
      <h4 class="text-success mx-auto lead bg-dark text-warning p-3 text-center ">Add a Category Request</h4></div></div>
      
      <form class="w-50 mx-4 p-3 bg-info mx-auto " action="/merchant/CategoryR" method="POST">
            <div class="form-group ">
                <input type="text" class="form-control" id="newCat" name="category" placeholder="Enter New Category">
              <br>
            <button type="submit" class="btn btn-primary" id="submitcat">Add Category</button>
            </div> </form>
            
            <script src="/js/CategoryMerchant.js"></script>
            <br>
            <div class="row">
                <div class="col-sm-12 col-md-8 col-lg-4 mx-auto">
            <h4 class="text-success  lead bg-dark text-warning p-3 text-center ">Add a Sub Category Request</h4></div></div>     <form class="w-50 mx-4 p-3 bg-info mx-auto">
              <select name="subCats" class="custom-select " id="selectCat">
                <option selected >Select Parent Category</option>
              </select><br>
              <input type="text" class="form-control col-sm-* my-3" id="newSubCat"  placeholder="Enter Sub Category">
              
              <button type="submit" class="btn btn-primary" id="submitsubcat">Add Category</button>
            
            </form>
        </div>
        <br>
       
    </body>
 </html>